<div class="car">
    <div class="car-body">
        <h1>
            About
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iusto voluptas debitis quo distinctio quis corporis necessitatibus cum, atque alias hic similique! Ad perferendis iure rem eos corporis velit voluptas sed, blanditiis odit laboriosam quos odio suscipit magnam, tenetur quidem.</p>
    </div>
</div>