<div class= "jumbotron-mt-4">
    <h1>Super Shoppers</h1>
    <p class="lead">        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores odit ad eos rerum quaerat minima assumenda molestiae corporis ut velit quas saepe quis voluptatem, ex nam distinctio impedit id aperiam.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>

