<div class="row">
    <div class="col-md-4-mx-auto">
        <div class="card">
            <div class="car-header">
                Account Register
            </div>
            <div class="car-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text"class="form-control" name="name" 
                        placeholder="Name" value="{{name}}">
                    </div>

                    <div class="form-group">
                        <input type="Email"class="form-control" name="email" 
                        placeholder="Email" value="{{email}}">
                    </div>

                    <div class="form-group">
                        <input type="Password"class="form-control" name="password" 
                        placeholder="Password" value="{{password}}">
                    </div>

                    <div class="form-group">
                        <input type="Password"class="form-control" name="confirm_password" 
                        placeholder="Password" value="{{confirm_password}}">
                    </div>

                    <div class="form-goup">
                        <button type="submit" class="btn btn-primary btn-block">
                            SignUp
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>